@import url('https://fonts.googleapis.com/css?family=Montserrat|Nunito+Sans&display=swap');

body {
    margin: auto;
    max-width: 1400px;
    color: #1d1d1d;
    --blue-color: #10c9c3;
    --text: #787878;
    font-size: 1em;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

header {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 90px;
    position: absolute;
    background-color: #e9e9e9;
}

.logo {
    top: 33px;
    left: 90px;
    position: absolute;
    width: 28px;
    height: 28px;
}

@media(max-width: 625px) {
    header {
        justify-content: flex-start !important;
    }

    .menu nav ul {
        width: 400px !important;
        padding-left: 0px;
    }

    .unique-li {
        display: none;
    }
}

@media(max-width:400px) {
    #home .bg-home a {
        margin-top: 7px;
        padding: 5px 15px;
    }
}

@media(max-width:500px) {
    .bg-home h1 {
        font-size: 1.9em !important;
    }

    .menu .smooth,
    .unique-li {
        padding: 0px 5px !important;
    }
}

@media(max-width:440px) {
    .menu {
        display: none !important;
    }

    .bg-home {
        grid-area: 1 / 2 / 3 / 3 !important;
        margin-top: 30px;
        z-index: 1000;
    }

    main #home {
        height: 500px;
    }
}

@media(max-width: 840px) {
    .logo {
        display: none;
    }

    .smooth,
    .unique-li {
        padding: 0px 10px !important;
        font-size: 0.85em !important;
        margin-top: 2px;
    }

    .unique-li a {
        padding-bottom: 0px;
    }
}

.menu ul li a {
    text-decoration: none;
    list-style-type: none;
    color: #1d1d1d;
    text-transform: uppercase;
    padding: 0px 15px;
    font-size: 0.95em;
    transition: color 1s;
}

.menu ul li a:hover {
    color: #ffffff;
}

.menu ul li {
    list-style-type: none;
}

.unique-li a {
    color: var(--blue-color) !important;
}

.menu ul {
    margin: 36px 50px 36px 0px;
    display: flex;
}

#home {
    width: 100vw;
    height: 600px;
    background-color: #e9e9e9;
    display: grid;
    grid-template-columns: 55% 40% 5%;
    grid-template-rows: 25% 42% 32%;
}

.bg-home {
    grid-area: 2 / 2 / 3 / 3;
}

.bg-home h1 {
    font-size: 2.5em;
    margin-bottom: 0px;
}

.bg-home p {
    color: var(--text);
    margin-bottom: 30px;
}

.bg-home a {
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif !important;
    border: 0;
    padding: 15px 30px;
    background-color: var(--blue-color);
    border-color: var(--blue-color);
}

@media(max-width:635px) {
    .text {
        width: 400px !important;
        margin-bottom: 30px !important;
    }
}

@media(max-width:710px) {
    .bg-about img {
        height: 80px;
    }
}

@media(max-width:450px) {
    #about .bg-about img {
        margin: 70px 10% 0px;
    }

    .bg-about .text {
        width: 300px !important;
    }
}

.bg-about {
    width: 100vw;
    height: 420px;
    background-color: #ffffff;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.bg-about h2 {
    font-size: 2.2em;
    margin-top: 90px;
    text-align: center;
}

.text {
    width: 600px;
    height: 60px;
    text-align: center;
    margin: 0px;
    color: var(--text);
}

.text p {
    margin-bottom: 0;
}

.bg-about img {
    padding: 0;
    margin: 30px 30% 0px 30%;
}

@media(max-width: 1110px) {
    .about-skills img {
        display: none;
    }

    .about-skills {
        height: 470px !important;
    }
}

.about-skills {
    width: 100vw;
    height: 570px;
    background-color: #f8f9f9;
    display: grid;
    grid-template-columns: 5% 40% 5% 50%;
    grid-template-rows: 20% 60% 20%;
}

.about-skills img {
    grid-area: 1 / 4 / 3 / 5;
    height: 570px;
    width: 100%;
}

.skills {
    grid-area: 2 / 2 / 3 / 3;
}

.skills h3 {
    font-size: 2.2em;
}

.skills>p {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8em;
    margin: 0px;
}

.bars {
    margin-top: 40px;
}

.bars>p {

    margin: 5px 0px;
}

.bars>progress {
    appearance: none;
    -webkit-appearance: none;
    width: 490px;
    height: 5px;
    border-radius: 3px;
}

@media(max-width:540px) {
    .bars>progress {

        width: 290px;

    }
}

progress::-webkit-progress-value {
    background-color: var(--blue-color) !important;
}

progress::-moz-progress-bar {
    background-color: var(--blue-color) !important;
}

.icons {
    height: 270px;
    width: 100%;
    background-color: var(--blue-color);
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icons .icon-text {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 0.8em;
    margin: 0;
}

.icons p.number {
    margin: 0px 0px 8px 0px;
}

.container-work,
.container-work-hour,
.container-feedback,
.container-clients {
    display: flex;
}

@media(max-width:600px) {

    .container-work-hour,
    .container-clients {
        display: none !important;
    }
}

.icons img {
    margin-right: 20px;
    width: 50px;
    height: 50px;
}

@media(min-width:1013px) {
    @media(max-width: 1340px) {
        .first {
            display: none;
        }
    }
}

@media(min-width:677px) {
    @media(max-width: 1010px) {
        .second {
            display: none;
        }

        .first {
            display: none;
        }
    }
}

@media(max-width:676px) {
    .all {
        display: none;
    }

    #photo-work {
        display: none;
        height: 0px !important;
    }
    #show-more-photo{
        display: none !important;
    }
}

#photo-work {
    width: 100%;
    height: 600px;
    display: flex;
    flex-flow: row wrap;
}

.photo-work img {
    transition: opacity 1s;
}

#photo-work img:hover {
    opacity: 0.8;
}

#show-more-photo {
    width: 100%;
    height: 100px;
    background-color: #f5f5f5;
    text-transform: uppercase;
    color: #959595;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 1s, color 1s;
    cursor: pointer;
}

#show-more-photo:hover {
    background-color: #959595;
    color: #f5f5f5;
}

#show-more-photo:visited {
    background-color: #959595;
    color: #f5f5f5;
}

iframe{
    width: 75%;
    height: 570px;
}

@media(max-width: 950px) {
    #process iframe {
        height: 400px;
    }

    #process {
        height: 750px;
    }

    #services .container-services:nth-child(even) {
        display: none;
    }
}

@media(max-width:555px) {
    .text-process {
        width: 350px !important;
    }
}

#process .white-bg {
    background: #ffffff no-repeat;
    height: 920px;
    width: 100%;
    z-index: 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.slogo-process {
    margin: 90px 0px 30px;
    font-size: 2.2em;
    font-weight: bold;
}

.text-process {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 0.95em;
    margin: 0px 0px 55px;
    color: var(--text);
    text-align: center;
    width: 550px;
}

.bg-services {
    width: 100%;
    height: 530px;
    background: #f5f5f5 no-repeat;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: center;
}

@media(max-width:602px) {
    #services .container-services:nth-child(even) {
        display: none;
    }

    #hide- {
        display: none;
    }
}

.container-services {
    display: flex;
    flex-flow: column nowrap;
    height: 170px;
    width: 300px;
    padding: 0px 20px;
}

.container-services h3 {
    font-size: 1.1em;
    margin: 17px 0px 15px;
    text-transform: uppercase;
    text-align: center;
}

.container-services p {
    color: var(--text);
    text-align: center;
    font-size: 0.9em;
    margin: 0;
    font-family: 'Montserrat', sans-serif !important;
}

@media(max-width: 730px) {
    .carousel-bg .name {
        font-size: 1.2em;
        font-weight: bolder;
    }

    .carousel-bg .quotation {
        font-size: 1.4em;
        font-family: 'Montserrat', sans-serif !important;
    }

    .carousel-item .carousel-text {
        width: 500px;
    }
}

@media(max-width: 515px) {
    .carousel-bg .name {
        font-size: 1.2em;
        font-weight: bolder;
    }

    .carousel-bg .quotation {
        font-size: 1.2em;
        font-family: 'Montserrat', sans-serif !important;
    }

    .carousel-item .carousel-text {
        width: 350px;
    }
}

.carousel-bg {
    height: 500px;
    width: 100%;
    background: var(--blue-color) no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

.carousel-bg .name {
    text-transform: uppercase;
    font-size: 1.13em;
    margin-top: 30px;
    text-align: center;
}

.carousel-bg .quotation {
    font-size: 1.75em;
    text-align: center;
    font-family: 'Montserrat', sans-serif !important;
}

.carousel-text {
    width: 800px;
}

@media(max-width: 400px) {
    .sponsors img:nth-child(even) {
        display: none !important;
    }

    #contact .form-slogo {
        width: 300px !important;
        height: 200px !important;

    }

    .white-bg .text-process {
        width: 320px !important;
    }

    .title-in,
    .comment-out {
        width: 280px !important;
    }

    .form-header input {
        width: 280px !important;
    }
}

.sponsors {
    width: 100%;
    height: 200px;
    background: #ffffff no-repeat;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sponsors img {
    width: 90px;
    height: 80px;
}

@media(max-width: 700px) {
    .comment-out {
        height: 160px;
        padding: 8px 12px 125px !important;
        width: 530px;
    }

    .title-in {
        width: 530px;
    }
}

#contact {
    width: 100%;
    height: 750px;
    background: #f5f5f5 no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

@media(max-width:620px) {
    .form-slogo {
        width: 400px !important;
    }

    .title-in,
    .comment-out {
        width: 315px;
    }
}

.form-slogo {
    width: 580px;
    text-align: center;
}

.form-slogo h3 {
    font-size: 2.2em;
    font-weight: bold;
    margin-bottom: 25px;
}

.form-slogo p {
    color: var(--text);
    font-family: 'Montserrat', sans-serif !important;
    margin: 0;
}

.form-header {
    padding: 30px 30px 15px;
}

.form-header input {
    font-size: 0.85em;
    padding: 8px 12px;
    border-radius: 3px;
    border: 0px;
    width: 315px;
    margin: 0px 10px;
}

form input {
    font-size: 0.85em;
    padding: 8px 12px;
    border-radius: 3px;
    border: 0px;
    width: 650px;
    margin: 15px 10px;
}

form {
    text-align: center;
}

.comment-out {
    height: 160px;
    padding: 8px 12px 125px !important;
}

.form-sub {
    border: 0px;
    border-radius: 3px;
    color: #ffffff;
    background: var(--blue-color) no-repeat;
    text-transform: uppercase;
    padding: 15px 25px;
    font-size: 0.80em;
    font-family: 'Montserrat', sans-serif !important;
    margin-top: 10px;
}

footer {
    width: 100%;
    height: 275px;
    background: #000000 no-repeat;
    color: #ffffff;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
}

.code a {
    text-decoration: none;
    color: #ffffff;
}

@media(max-width:620px) {

    .authors-contact,
    .code {
        display: none;

    }

}